<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="/static/base/images/favicon.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="/static/manuscripts/styles/styleReport.css">
</head>

<body>
    <nav class="navbar position-fixed navbar-expand-md bg-light shadow py-1.5 px-3 mb-5 bg-white rounded fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand text-primary" href="{% url 'upload' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-left" viewBox="0 0 16 16" style="margin-right: 10px;">
                    <path fill-rule="evenodd"
                        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                </svg>
                Report 
            </a>
        </div>
    </nav>

    <div class="container mx-0 px-0 mw-100">
        <div class="center-content">

            <div class="d-flex flex-column align-items-center w-75 mx-auto" style="margin-top: 20rem;">
                <div class="h2 text-center px-md-5">
                    {{ manuscript.manuscript_title }}
                </div>
                <div class="text-center">
                    {{ manuscript.manuscript_authors }}
                </div>
            </div>

            <div class="report-stats mb-3">
                
                <div class="chart-container">
                    <canvas class="my-chart"></canvas>
                    <div class="chart-labels">
                        <div class="label">
                            <span class='indicator' style="background-color: #52B288"></span> Passed : {{ passed }}%
                        </div>
                        <div class="label">
                            <span class='indicator' style="background-color: #E95551"></span> Failed : {{ failed }}%
                        </div>
                    </div>
                </div>
            </div>

            <div class="section mt-3">
                <div class="sub-title fw-bold">
                    
                </div>

                <div class="button-report mb-5" style="margin-left: 40px;">
                    <a href="{% url 'full-report' url=file %}"><button class="button view" id="full-view">VIEW FULL REPORT</button></a>
                    <a href="{% url 'download' url=file %}" target=”_blank” id="download-btn" class="button-download"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                            fill="#002D7B" class="bi bi-download" viewBox="0 0 16 16">
                            <path
                                d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                            <path
                                d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                        </svg></a>

                </div>


                <div class="report-box-success shadow mt-3 bg-body-tertiary d-flex flex-row p-0 justify-content-center overflow-hidden"
                    style="width: 50%; margin: 0 auto;">

                    <div class="text my-3" style="margin-left: 20px; color: #0063FF;">
                        Title of the Paper
                    </div>
                    <div class="right-icon align-self-center ms-auto me-3 fs-4 text-success text-opacity-75">
                        {% if title %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="#ffffff"
                                style="background-color:#52B288;" class="bi bi-check-lg" viewBox="0 0 16 16">
                                <path
                                    d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247.0 0 1 .02-.022Z" />
                            </svg>
                        {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="#ffffff" style="background-color:
                                                            #E95551;" class="bi bi-exclamation-lg" viewBox="0 0 16 16">
                                <path
                                    d="M7.005 3.1a.1.0 1 1 1 1.99 0l-.388 6.35a.61.61 0 0 1-1.214 0L7.005 3.1ZM7 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z" />
                            </svg>
                        {% endif %}
                    </div>
                </div>

                <div class="report-box-success shadow bg-body-tertiary d-flex flex-row p-0 justify-content-center overflow-hidden"
                    style="width: 50%; margin: 0 auto;">

                    <div class="text my-3" style="margin-left: 20px; color: #0063FF;">
                        Author
                    </div>
                    <div class="right-icon align-self-center ms-auto me-3 fs-4 text-success text-opacity-75">
                        {% if author %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="#ffffff"
                                style="background-color:#52B288;" class="bi bi-check-lg" viewBox="0 0 16 16">
                                <path
                                    d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247.0 0 1 .02-.022Z" />
                            </svg>
                        {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="#ffffff" style="background-color:
                                                            #E95551;" class="bi bi-exclamation-lg" viewBox="0 0 16 16">
                                <path
                                    d="M7.005 3.1a.1.0 1 1 1 1.99 0l-.388 6.35a.61.61 0 0 1-1.214 0L7.005 3.1ZM7 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z" />
                            </svg>
                        {% endif %}
                    </div>
                </div>

                <div class="report-box-success shadow bg-body-tertiary d-flex flex-row p-0 justify-content-center overflow-hidden"
                    style="width: 50%; margin: 0 auto;">

                    <div class="text my-3" style="margin-left: 20px; color: #0063FF;">
                        Abstract
                    </div>
                    <div class="right-icon align-self-center ms-auto me-3 fs-4 text-success text-opacity-75">
                        {% if abstract %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="#ffffff"
                                style="background-color:#52B288;" class="bi bi-check-lg" viewBox="0 0 16 16">
                                <path
                                    d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247.0 0 1 .02-.022Z" />
                            </svg>
                        {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="#ffffff" style="background-color:
                                                            #E95551;" class="bi bi-exclamation-lg" viewBox="0 0 16 16">
                                <path
                                    d="M7.005 3.1a.1.0 1 1 1 1.99 0l-.388 6.35a.61.61 0 0 1-1.214 0L7.005 3.1ZM7 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z" />
                            </svg>
                        {% endif %}
                    </div>
                </div>

                <div class="report-box-success shadow bg-body-tertiary d-flex flex-row p-0 justify-content-center overflow-hidden"
                    style="width: 50%; margin: 0 auto;">

                    <div class="text my-3" style="margin-left: 20px; color: #0063FF;">
                        Structure
                    </div>
                    <div class="right-icon align-self-center ms-auto me-3 fs-4 text-success text-opacity-75">
                        {% if structure %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="#ffffff"
                                style="background-color:#52B288;" class="bi bi-check-lg" viewBox="0 0 16 16">
                                <path
                                    d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247.0 0 1 .02-.022Z" />
                            </svg>
                        {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="#ffffff" style="background-color:
                                                            #E95551;" class="bi bi-exclamation-lg" viewBox="0 0 16 16">
                                <path
                                    d="M7.005 3.1a.1.0 1 1 1 1.99 0l-.388 6.35a.61.61 0 0 1-1.214 0L7.005 3.1ZM7 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z" />
                            </svg>
                        {% endif %}
                    </div>
                </div>

                <div class="report-box-failed shadow bg-body-tertiary d-flex flex-row p-0 justify-content-center overflow-hidden"
                    style="width: 50%; margin: 0 auto;">

                    <div class="text my-3" style="margin-left: 20px; color: #0063FF;">
                        Addition
                    </div>
                    <div class="right-icon align-self-center ms-auto me-3 fs-4 text-danger text-opacity-75">
                        {% if addition %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="#ffffff"
                                style="background-color:#52B288;" class="bi bi-check-lg" viewBox="0 0 16 16">
                                <path
                                    d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247.0 0 1 .02-.022Z" />
                            </svg>
                        {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="#ffffff" style="background-color:
                                                            #E95551;" class="bi bi-exclamation-lg" viewBox="0 0 16 16">
                                <path
                                    d="M7.005 3.1a.1.0 1 1 1 1.99 0l-.388 6.35a.61.61 0 0 1-1.214 0L7.005 3.1ZM7 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z" />
                            </svg>
                        {% endif %}
                    </div>
                </div>

                <div class="report-box-failed shadow bg-body-tertiary d-flex flex-row p-0 justify-content-center overflow-hidden"
                    style="width: 50%; margin: 0 auto;">

                    <div class="text my-3" style="margin-left: 20px; color: #0063FF;">
                        Reference
                    </div>
                    <div class="right-icon align-self-center ms-auto me-3 fs-4 text-danger text-opacity-75">
                        {% if reference %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="#ffffff"
                                style="background-color:#52B288;" class="bi bi-check-lg" viewBox="0 0 16 16">
                                <path
                                    d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247.0 0 1 .02-.022Z" />
                            </svg>
                        {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="#ffffff" style="background-color:
                                                            #E95551;" class="bi bi-exclamation-lg" viewBox="0 0 16 16">
                                <path
                                    d="M7.005 3.1a.1.0 1 1 1 1.99 0l-.388 6.35a.61.61 0 0 1-1.214 0L7.005 3.1ZM7 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z" />
                            </svg>
                        {% endif %}
                    </div>
                </div>

            </div>


            <div class="section mt-3">
                <div class="sub-title" style="margin-bottom: 30px; color: #898383;">
                    Checking refers to JISEBI rules
                </div>
            </div>

        </div>

        <div class="bottom-bar text-white py-2 text-center"
            style="position: fixed; bottom: 0; height:40px ;width: 100%; background: #013999;">
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
        <script src="/static/base/js/jquery.js" type="text/javascript"></script>
        <script src="/static/base/js/popper.js" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        
        <script>

            var corr_count = {{ corrects }};

            const chartData = {
                labels: ["Passed", "Failed"],
                data: [corr_count, 32-corr_count],
                colors: ['#52B288', '#E95551'],
            };

            const myChart = document.querySelector(".my-chart");
            const ul = document.querySelector(".report-stats .details ul");

            new Chart(myChart, {
                type: "doughnut",
                data: {
                    labels: chartData.labels,
                    datasets: [
                        {
                            label: "Report Value",
                            data: chartData.data,
                            backgroundColor: chartData.colors,
                        },
                    ],
                },
                options: {
                    responsive: false, // Menonaktifkan responsif
                    plugins: {
                        legend: {
                            display: false, // Menyembunyikan legenda
                        },
                    },
                    animation: {
                        animateRotate: false, // Menonaktifkan animasi rotasi
                        animateScale: false,  // Menonaktifkan animasi scaling
                    },
                },
            });

            const populateUl = () => {
                chartData.labels.forEach((l, i) => {
                    let li = document.createElement("li");
                    li.innerHTML = `<span class='indicator' style="background-color: ${chartData.colors[i]}"></span>${l}: <span class='percentage' style="font-weight: bold; color: ${chartData.colors[i]}">${chartData.data[i]}%</span>`;
                    ul.appendChild(li);
                });
            };

            populateUl();
        </script>
</body>



</html>